Repository destiny-malone/jobintel-IaC, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, ci/cd, documentation, scripts, configs, python, tests

.github/labeler.yml:

infrastructure:
  - "*.tf"
  - "**/*.tf"
  - "terraform/*.tf"
  - "terraform/modules/*.tf"

ci/cd:
  - ".github/workflows/*"
  - ".github/workflows/**/*.yml"
  - ".github/workflows/**/*.yaml"

documentation:
  - "**/*.md"

scripts:
  - "**/*.sh"
  - "**/*.ps1"
  - "**/*.psm1"

configs:
  - "config/*.yml"
  - "config/*.yaml"
  - "config/*.json"


python:
  - "scripts/*.py"

tests:
  - "**/tests/*.py"
  - "**/test_*.py"
  - "**/tests/**/*.py"
  - "**/test_*.py"

Specify directory for terraform commands
  .github/workflows/terraform.yml
Labels: ci/cd

Correct path for additional security in yml file
  .github/workflows/security.yml
Labels: ci/cd

Use latest version of terraform to use change directory command
  .github/workflows/terraform.yml
Labels: ci/cd

Do not reference bacckend configs since it is empty
  .github/workflows/terraform.yml
Labels: ci/cd

Typo in backend config reference
  .github/workflows/terraform.yml
Labels: ci/cd

Formatting issue for terraform commands
  .github/workflows/terraform.yml
Labels: ci/cd

Reference workspace veriable for output
  terraform/outputs.tf
Labels: infrastructure

Remove workspace variable from output
  terraform/outputs.tf
Labels: infrastructure

Reference account id variable
  terraform/outputs.tf
Labels: infrastructure

Fix naming for referencing account id in yml
  .github/workflows/terraform.yml
Labels: ci/cd

Unused resources removed
  terraform/main.tf
  terraform/outputs.tf
Labels: infrastructure

Get account id from data passed for output
  terraform/outputs.tf
Labels: infrastructure

Removed version provider
  terraform/providers.tf
Labels: infrastructure

Terraform versioning reference removed since it is to usse the latest version in yml
  terraform/outputs.tf
  terraform/providers.tf
  terraform/variables.tf
Labels: infrastructure

fixed reference for tfplan
  .github/workflows/terraform.yml
Labels: ci/cd

Set logging level directly in logger config
  scripts/logger.py
Labels: python

Config file path passed in function
  config/security.yaml
  config/settings.yaml
  scripts/config_loader.py
  scripts/main.py
  scripts/notifier.py
  scripts/parse_tfplan.py
Labels: configs, python

settings.yaml needs to be empty and not referenced
  .github/workflows/terraform.yml
  config/settings.yaml
Labels: ci/cd, configs

Type removed
  .github/workflows/terraform.yml
Labels: ci/cd

Point load_config to security.yaml since settings.yaml is empty
  .github/workflows/security.yml
  .github/workflows/terraform.yml
  scripts/config_loader.py
  scripts/main.py
  scripts/notifier.py
  scripts/parse_tfplan.py
  terraform/main.tf
Labels: infrastructure, ci/cd, python

Need to show tfplan before parsing
  .github/workflows/terraform.yml
Labels: ci/cd

Show binary tfplan to parse
  .github/workflows/terraform.yml
Labels: ci/cd

Need to see why tfplan is not parsing
  .github/workflows/terraform.yml
Labels: ci/cd

Fixed missing directory issue so I removed debug
  .github/workflows/terraform.yml
Labels: ci/cd

send json to logs directory
  .github/workflows/terraform.yml
Labels: ci/cd

Absolute paths for debugging logs
  .github/workflows/terraform.yml
  scripts/parse_tfplan.py
Labels: ci/cd, python

clean old terraform refs
  .github/workflows/terraform.yml
Labels: ci/cd

specify terraform version
  .github/workflows/terraform.yml
Labels: ci/cd

updated absolute paths
  .github/workflows/terraform.yml
Labels: ci/cd

Updated aws, random, and terraform versions in providers.tf
  .github/workflows/terraform.yml
  terraform/providers.tf
Labels: infrastructure, ci/cd

Verify if versions are pulling from latest with providers.tf
  .github/workflows/terraform.yml
Labels: ci/cd

Version check
  .github/workflows/terraform.yml
  terraform/.terraform.lock.hcl
  terraform/providers.tf
Labels: infrastructure, ci/cd

Specify versions to use
  .github/workflows/lint.yml
  .github/workflows/security.yml
  .github/workflows/terraform.yml
Labels: ci/cd

Reference github token
  .github/workflows/label.yml
Labels: ci/cd

retrieve gh_token
  .github/workflows/security.yml
  .github/workflows/terraform.yml
Labels: ci/cd

Checkout repo before verifying security scan
  .github/workflows/security.yml
Labels: ci/cd

Set personal access token for security scan
  .github/workflows/security.yml
  .github/workflows/terraform.yml
Labels: ci/cd

No requirements.txt to reference
  .github/workflows/security.yml
Labels: ci/cd

Only using Trivy to scan all layers of Terraform
  .github/workflows/security.yml
Labels: ci/cd

Trivy scan for terraform directory
  .github/workflows/security.yml
Labels: ci/cd
